body {
    margin: 0;
    overflow-x: hidden;
    background-color: #eee;

}


.maincontainer {

    nav {
        display: grid;
        grid-template-columns: 60% 10% 10% 10% 10%;
        align-content: center;
        height: 60px;
        h1 {
            margin: 0;
            text-align: center;
            font-family: sans-serif;
        }
        button {
            width: 80%;
            background-color: dimgrey;
            padding: 8px;
            border: 1px solid white;
            color: white;
            border-radius: 8px;
            transition: ease-in-out 0.2s;
            cursor: pointer;
        }
        button:hover {
            background-color: darkgrey;
        }
    }
    section {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        .putcontainer {
            position: absolute;
            width: 100vw;
            background: rgba(20, 20, 20, 0.8);
            height: 130%;
            margin-top: 10px;
            .putform {
                width: 30%;
                position: relative;
                border: 2px solid white;
                padding: 2vw;
                background-color: dimgrey;
                gap: 2vw;
                display: grid;
                margin: auto;
                border-radius: 10px;
                font-family: sans-serif;
                color: white;
                transform: translateY(20%);
                input {
                    width: 90%;
                    margin: auto;
                    border: none;
                    border-radius: 6px;
                    padding: 5px;
                }
                button {
                    margin: auto;
                    border-radius: 8px;
                    border: 2px solid white;
                    padding: 10px;
                    width: 40%;
                    background-color: dimgrey;
                    color: white;
                    transition: ease-in-out 0.3s;
                    cursor: pointer;
                }
                button:hover {
                    background-color: darkgrey;
                }
                
            }
        }
        .listcontainer {
            display: table-caption;
            width: 80%;
            margin: 20px auto;
            font-family: sans-serif;
            display: grid;
            padding: 10px;
            gap: 1vw;
            -webkit-box-shadow: 2px 0px 4px 0px #000000; 
            box-shadow: 2px 0px 4px 0px #000000;
            border-radius: 6px;
            background-color: dimgrey;
            color: white;
            button {
                margin: auto;
                border-radius: 8px;
                border: 1px solid white;
                padding: 8px;
                width: 30%;
                background-color: dimgrey;
                color: white;
                transition: ease-in-out 0.2s;
                cursor: pointer;
            }
            button:hover {
                background-color: darkgrey;
            }
            p {
                line-break: anywhere;
            }
        }
    }
    .createcontainer {
        position: absolute;
        width: 100vw;
        background: rgba(20, 20, 20, 0.8);
        height: 100vh;
        // margin-top: 10px;
        .createform {
            width: 30%;
            position: relative;
            border: 2px solid white;
            padding: 2vw;
            background-color: dimgrey;
            gap: 2vw;
            display: grid;
            margin: auto;
            border-radius: 10px;
            font-family: sans-serif;
            color: white;
            transform: translateY(20%);
            button {
                margin: auto;
                border-radius: 8px;
                border: 2px solid white;
                padding: 10px;
                width: 40%;
                background-color: dimgrey;
                color: white;
                transition: ease-in-out 0.2s;
                cursor: pointer;
            }
            button:hover {
                background-color: darkgrey;
            }
        }
    }
    .closebtn {
        font-size: 30px;
        display: block;
        justify-content: flex-end;
        cursor: pointer;
        margin-left: auto;
        width: fit-content;
    }
}